/* Slick Slider Custom Styles */
.trending-slider .slick-dots {
  bottom: -30px;
}

.trending-slider .slick-dots li button:before {
  font-size: 8px;
  color: #fb923c;
  opacity: 0.3;
}

.trending-slider .slick-dots li.slick-active button:before {
  color: #fb923c;
  opacity: 1;
}

.trending-slider .slick-slide > div {
  margin: 0;
}
